<!DOCTYPE html>
<html>
  <head>
    <title>dtp-web Trailer DTP Search</title>
    <link href="/static/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <a href="/">Main Menu</a>
      <br>
    </div>
    {% if error %}
    <div id="whoopsie">
      <h2>Well that didn't work!</h2>
      <em>{{ error }}</em><br><br>
      <a href="/trailer">Try again?</a>
    </div>
    {% endif %}
    <h2>DTP Search</h2>
    <form action="/trailer" method="post">
      <label for="dtp">DTP No.:</label>
      <input type="number" id="dtp" name="dtp" minlength="6" maxlength="6" size="6" placeholder="XXXXXX">
      <br>
      <input type="submit" value="Search">
    </form>
    <hr>
    <h2>Advanced Search</h2>
    <form action="/traileradv" method="post">
      <label for="vehtype">Trailer Type:</label>
      <select id="vehtype" name="vehtype">
	<option value="">None</option>
	{% for type in vehtype %}
	<option value="{{ type[0] }}">{{ type[1] }}</option>
	{% endfor %}
      </select>
      <br>
      <label for="gvw">Design Gross Weight (kg):</label>
      <input type="number" id="gvw" name="gvw" size="6">
      <br>
      <label for="taw">Total Axle Weight (kg):</label>
      <input type="number" id="taw" name="taw" size="6">
      <br>
      <table>
	<tr><th>ABS</th><th>LSV</th><th>EBS</th><th>Type Approved</th></tr>
	<tr>
	  <td><input type="checkbox" id="abs" name="abs"></td>
	  <td><input type="checkbox" id="lsv" name="lsv"></td>
	  <td><input type="checkbox" id="ebs" name="ebs"></td>
	  <td><input type="checkbox" id="typeappr" name="typeappr"></td>
	</tr>
      </table>
      <table>
	<tr><th colspan=2>Design Weights(kg)</th><th>Park Brake</th></tr>
	<tr>
	  <th><label for="ax1weight">Axle 1:</label></th>
	  <td><input type="number" id="ax1weight" name="ax1weight" size="5"></td>
	  <td><input type="checkbox" id="ax1park" name="ax1park"></td>
	</tr>
	<tr>
	  <th><label for="ax2weight">Axle 2:</label></th>
	  <td><input type="number" id="ax2weight" name="ax2weight" size="5"></td>
	  <td><input type="checkbox" id="ax2park" name="ax2park"></td>
	</tr>
	<tr>
	<th><label for="ax3weight">Axle 3:</label></th>
	<td><input type="number" id="ax3weight" name="ax3weight" size="5"></td>
	<td><input type="checkbox" id="ax3park" name="ax3park"></td>
	</tr>
	<tr>
	  <th><label for="ax4weight">Axle 4:</label></th>
	  <td><input type="number" id="ax4weight" name="ax4weight" size="5"></td>
	  <td><input type="checkbox" id="ax4park" name="ax4park"></td>
	</tr>
      </table>
      <br>
      <input type="submit" value="Search"> - <input type="reset" value="Reset">
    </form>
  </body>
</html>
