<!DOCTYPE html>
<html>
  <head>
    <title>dtp-web Truck DTP Search</title>
    <link href="/static/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <h1>Truck Search</h1>
      <a href="/">Main Menu</a>
      <a href="/help">Help?</a>
      <br>
    </div>
    {% if error %}
    <div id="whoopsie">
      <h2>Well that didn't work!</h2>
      <em>{{ error }}</em><br><br>
      <a href="/truck">Try again?</a>
    </div>
    {% endif %}
    <h2>DTP Search</h2>
    <form action="/truck" method="post">
      <label for="dtp">DTP No.:</label>
      <input type="text" id="dtp" name="dtp">
      <br>
      <input type="submit" value="Search">
    </form>
    <hr>
    <h2>Advanced Search</h2>
    <form action="/truckadv" method="post">
      <table>
	<tr>
	  <th><label for="make">Make:</label></th>
	  <td><select id="make" name="make">
	      <option VALUE="*">Any</option>
	      {% for make in vehmake %}
	      <option value="{{ make[0] }}">{{ make[1] }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th><label for="vehtype">Vehicle Type:</label></th>
	  <td><select id="vehtype" name="vehtype">
	      <option value="*">Any</option>
	      {% for type in vehtype %}
	      <option value="{{ type[0] }}">{{ type[1] }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th><label for="gvw">Gross Vehicle Weight (kg):</label></th>
	  <td><input type="number" name="gvw" id="gvw" maxlength="6" size="6"></td>
	</tr>
	<tr>
	  <th><label for="gtw">Gross Train Weight (kg):</label></th>
	  <td><input type="number" name="gtw" id="gtw" maxlength="6" size="6"></td>
	</tr>
	<tr>
	  <th><label for="braketype_serv">Service Brake Type:</label></th>
	  <td><select id="braketype_serv" name="braketype_serv">
	      <option value="*">Any</option>
	      {% for type in braketype %}
	      <option value="{{ type[0] }}">{{ type[1] }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th><label for="braketype_sec">Secondary Brake Type:</label></th>
	  <td><select id="braketype_sec" name="braketype_sec">
	      <option value="*">Any</option>
	      {% for type in braketype %}
	      <option value="{{ type[0] }}">{{ type[1] }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <th><label for="braketype_park">Parking Brake Type:</label></th>
	  <td><select id="braketype_park" name="braketype_park">
	      <option value="*">Any</option>
	      {% for type in braketype %}
	      <option value="{{ type[0] }}">{{ type[1] }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	</table>
      <br>
      <input type="submit" Value="Search">
      </form>
    <div id="footer">
      :)
    </div>
  </body>
</html>
