<!DOCTYPE html>
<html>
  <head>
    <title>dtp-web Truck DTP Search</title>
    <link href="/static/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <a href="/">Main Menu</a>
    </div>
    <h2>DTP Search</h2>
    <form action="/truck" method="post">
      <label for="dtp">DTP No.:</label>
      <input type="text" id="dtp" name="dtp">
      <br>
      <input type="submit" value="Search">
    </form>
    <hr>
    <h2>Advanced Search</h2>
    <form action="/truck" method="post">
      <label for="make">Make:</label>
      <select id="make" name="make">
	<option VALUE="*">Any</option>
	{% for make in vehmake %}
	<option value="{{ make[0] }}">{{ make[1] }}</option>
	{% endfor %}
      </select>
      <br>
      <label for="vehtype">Vehicle Type:</label>
      <select id="vehtype" name="vehtype">
	<option value="*">Any</option>
	{% for type in vehtype %}
	<option value="{{ type[0] }}">{{ type[1] }}</option>
	{% endfor %}
      </select>
      <br>
      <label for="gvw">Gross Vehicle Weight (kg):</label>
      <input type="number" name="gvw" id="gvw" maxlength="6" size="6">
      <br>
      <label for="gtw">Gross Train Weight (kg):</label>
      <input type="number" name="gtw" id="gtw" maxlength="6" size="6">
      <br>
      <label for="braketype_serv">Service Brake Type:</label>
      <select id="braketype_serv" name="braketype_serv">
	<option value="*">Any</option>
	{% for type in braketype %}
	<option value="{{ type[0] }}">{{ type[1] }}</option>
	{% endfor %}
      </select>
      <br>
      <label for="braketype_sec">Secondary Brake Type:</label>
      <select id="braketype_sec" name="braketype_sec">
	<option value="*">Any</option>
	{% for type in braketype %}
	<option value="{{ type[0] }}">{{ type[1] }}</option>
	{% endfor %}
      </select>
      <br>
      <label for="braketype_park">Parking Brake Type:</label>
      <select id="braketype_park" name="braketype_park">
	<option value="*">Any</option>
	{% for type in braketype %}
	<option value="{{ type[0] }}">{{ type[1] }}</option>
	{% endfor %}
      </select>
      <br>
      <input type="submit" Value="Search">
      </form>
  </body>
</html>
