body {
    width: 90%;
    margin: auto;
    margin: 1em;
    font-family: sans-serif;
}

@media (prefers-color-scheme: dark){
    body{
	background-color: #593500;
	background-image: url(/static/dark-wood.png); /* Omar Alvarado */
	color: #F5F5DC;
    }

    a {
	color: #F5F5DC;
	text-decoration: underline;
    }

    a:hover {
	text-decoration: underline wavy;
	text-shadow: 3px 3px 5px darkgrey;
    }

}

@media (prefers-color-scheme: light){
    body{
	background-color: #F5F5DC;
	background-image: url(/static/dark-wood.png); /* Omar Alvarado */
	color: #141A1F;
    }

    a {
	color: #1F1A1F;
	text-decoration: underline;
    }

    a:hover {
	text-decoration: underline wavy;
	text-shadow: 3px 3px 5px grey;
    }

}


#header {
    width: 80%;
    margin: auto;
}

#bigselect {
    width: 80%;
    height: 10em;
    margin: auto;
    display: inline;
}

div.bigbutton {
    margin: auto;
    width: 25%;
    height: 5em;
    padding: 3%;
    display: inline-block;
    border: 3px solid #F5F5DC;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    font-size: 2em;
    color: #222B32;
}

div.bigbutton p.desc {
    display: inline-block;
    text-align: justify;
    font-size: 0.5em;
}

div.bigbutton:hover {
    border: 3px solid black;
    opacity: 1;
    color: #F5F5DC;
}


div.bigbutton#truck {
    background-color: #71AA4C;
}

div.bigbutton#trailer {
    background-color:  #F0AF5B;
}

div.bigbutton#psv {
    background-color: #DB4B4B;
}

#footer {
    position: fixed;
    bottom: 0em;
    left: 10%;
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);
}

ul.resultstack {
    columns: 2;
}

li.resultstack {
    margin: 0.5em;
}

.resultcard {
    width: 45%;
    border: 3px solid #F5F5DC;
    border-radius: 1em;
    background-color: #FDFDDC;
    background-image: url(/static/lined-paper.png); /* Are Sundnes */
    color: #222B32;
    margin: 1em;
    display: inline-block;
    box-shadow: 12px 12px 6px rgba(0, 0, 0, 0.2);
}

.resultcard th {
    color: black;
    font-size: large;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

.resultcard td {
    font-size: large;
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-align: right;
}

.resultcard a {
    color: #222B32;
}

.resultcard a:hover {
    color: #222B32;
}

form {
    padding: 0.5em;
}

form br {
    padding: 1em;
}

#whoopsie {
    width: 25%;
    margin: auto;
    background-color: #DB4b4b;
    color: white;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    border-radius: 10px;
    border: 10px solid pink;
    border-image: repeating-linear-gradient(
	-55deg,
	#000,
	#000 20px,
	#F0AF5B 20px,
	#F0AF5B 40px
    ) 10;
    padding: 1em;
}

#whoopsie em {
    font-size: x-large;
}
